body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 300px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .TopBar {
    color: white;
    display: flex;
    align-items: center;
    background-color: #282c34;
    padding-left: 20px;
  }
  
  .TopBar img {
    height: 50px;
  }
  
  .TopBar h4 {
    font-weight: bold;
    color: #61dafb;
    margin: 0;
  }
  
  .TopBar span {
    margin-left: 10px;
    color: #f0f0f0;
    font-size: 0.9em;
  }
  
  .Container {
    background: #fafafa;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 40vw;
    margin: 20px auto 20px auto;
    padding: 20px;
  }
  
  @media only screen and (max-width: 1200px) {
    .Container {
      width: 60vw;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .Container {
      width: 80vw;
    }
  }
  
  .UserName {
    font-weight: bold;
    border-bottom: #61dafb solid 1px;
    padding-bottom: 2px;
    font-size: 16px;
  }
  
  .PostContent {
    font-size: 23px;
    color: #484848;
    padding: 5px 0 0 0;
  }
  
  input {
    border: none;
    overflow: auto;
    outline: none;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  
    resize: none;
    background-color: transparent;
    /*remove the resize handle on the bottom right*/
    width: 100%;
    border-bottom: #61dafb solid 1px;
    margin-bottom: 9px;
    font-size: 23px;
  }
  
  button {
    display: inline-block;
    background-color: #61dafb;
    color: #000000;
    padding: 10px 25px;
    white-space: nowrap;
    transition: background-color 0.2s ease-out;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    border: none;
    border-radius: 3px;
    font-weight: bold;
  }
  